*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    line-height: 2rem;
    font-size:  24px;
}

header{
    width: 100%;
    height: 3.5rem;
    background-color: yellow;
}

.logo{
    position: relative;
    top: 0.2em;
    left: 60%;
    width: 30%;
}

.slideOne{
    width: 100%;
}



