body{
    margin: 0 auto;
    font-family: 'Archivo', sans-serif;
}

header{
    display: inline-block;
    width: 100%;
    height: 55px;
    background-color: yellow;
}

i{
    display: inline-block;
}
